
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Roboto:wght@100&display=swap');

:root {
    --primary-black: black;
}

body {
font-family: "Roboto Condesed" sans-serif; 
background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.webp");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
min-height: 100vh;
}


/***************** NAVIGATION ***********************/

.logo {
    width: 16.25rem;

}

/*---- MENU LINKS -----*/

nav a.nav-link {
    font-weight: 500;
    letter-spacing: 0.6px;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}
/* .navbar-nav > li > a {
    color:white;
} */

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}


/***************** HEADER ***********************/

.header-wraper {
    position: relative;
    /* background: url(/Users/waterscorpio/UCBootCamp/Assignments/Reactive-Portfolio/src/components/Header.js) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;    */

}

.container {
    background-color:black;
    position: relative;
    min-height: 50vh;
}

.text-color {
    color: whitesmoke
}

